{% extends "hfgame/base_menu.html" %}
{% block content %}
<h1>How to Play</h1>

<p>
  Happy Family is a party game where the objective is to end the game by having every player in your "family". Every player submits a name--this is "who you are" for the game. Other players join your family when you correctly guess who they are on your turn. As soon as a player has been guessed, they are "out" for the game, but they support their head of family by helping them guess more players to grow the family. Guessing another head of family brings that person as well as their entire family into your family. The game ends when all players have been guessed except the winner, who is now the head of one big happy family with every player in it.
<p>
  For instructions on playing the original party game or to see the inspiration, refer to <a href="{% url 'original_game' %}">Original Party Game</a>.
</p>

<h2>Happy Family App Play</h2>
<p>
    <strong>Requirements:</strong> Players must EITHER being physically co-located (in the same room, for example) or connected via video conference with additional ways to communicate between teammates outside of the main video conference (text, chat, breakout rooms in video conference, etc). This game may in the future support communication, but the current version does not.
</p>
<p>
  <strong>1. Create the game.</strong> One person should create the game using the <a href="{% url 'game_create' %}">"Create a New Game" button</a> at the upper right. Choose a name that will help the rest of the players recognize the game, and optionally add a description.
</p>
<div class="alert alert-info" role="alert">
  <strong>Tip:</strong> Ideally, the person who creates the game ("Creator") should be the same person that plans to read the names off and otherwise control the game ("Owner"). However, the Owner can be changed after the game is created if another player is needed to read the names and control the game. To change the Owner, the current owner should click the pencil icon (<i class="fa fa-pencil"></i>) either from the <a href="{% url 'agame_list' %}">list of games open for names</a> or the individual game page.
</div>
<p>
  <strong>2. Players submit their names.</strong> All players (including the Creator/Owner if they plan to play) should submit their names to the game. Each player can only submit one name. To submit a name, click on the game in the <a href="{% url 'agame_list' %}">list of games open for names</a> and use the form to enter the name.
</p>
<div class="alert alert-info" role="alert">
  <strong>Tip:</strong> If you submit a name but change your mind or notice a typo, you can do this while the game is still Accepting Names by deleting your name and submitting a new one.
</div>
<p>
  <strong>3. Owner reads the names.</strong> Once all names have been submitted, the Owner will read the names out loud. Everyone should work hard to remember the names, as remembering names is generally the difference between winning and losing the game. No commentary on the names should be permitted or given. Names may be read through once OR twice; this can be decided by the group.
</p>
<p>
  <strong>4. Youngest player starts.</strong> The youngest player in the game (or any player the group agrees upon) goes first by asking another player (any player), "Are you [name]?" Remember that the goal is to correctly guess which name the player put in.
</p>
<p>
  <strong>5. Player responds.</strong> If the player DID submit the name that they were asked about, they have been guessed and are "out." They now join the original guesser's family and help them to think of future guesses. The original guesser is now the "head of family" and goes again by asking another player. If the player DID NOT submit the name that they were asked about, they have not been guessed and now it is their turn to ask a player, "Are you [name]?"
</p>
<p>
  <strong>6. Gameplay continues until someone wins or there is a tie.</strong> Gameplay continues as described until EITHER<br />
  <ul>
    <li>
      all players have been guessed but one, leaving the one unguessed player as the head of the happy family, in which case this player wins, OR
    </li>
    <li>
      all remaining players do not remember the remaining names to be able to guess each other, and agree to call the game a tie
    </li>
    </ul>
</p>
<p>
  <strong>7. Game Owner records winner.</strong> Once the game is done, the current Owner of the game should select the winner(s) from the list and click "End Game and Record Winner" to finish the game.
</p>
<div class="alert alert-info" role="alert">
  <strong>Tip:</strong> Accidentally end the game before you meant to? Click "Reopen Game" to go back.
</div>
{% endblock %}
