{% extends "hfgame/base_menu.html" %}
{% block content %}
<h1>Original Party Game</h1>

<p>
  <strong>1. Cut pieces of paper into strips,</strong> enough that each player gets one strip of paper. The strips should be large enough to comfortably write a few words on it. Ideally, the strips should be fairly uniform because unique-looking strips may allow other players to figure out who wrote each name.
</p>
<p>
  <strong>2. Determine where completed strips will go.</strong> Find a container such as a hat, a bowl, etc where players will put their strips once they are done writing on them.
</p>
<p>
  <strong>3. Each player writes a name.</strong> Players should each write ONE and ONLY ONE name on ONE and ONLY ONE strip of paper each. Players should then put the name in the container determined in step 2.
</p>
<p>
  <strong>4. One person reads the names.</strong> Everyone should work hard to remember the names, as remembering names is generally the difference between winning and losing the game. The person who reads the names should ideally be someone who doesn't readily recognize handwriting so as not to give them an edge over other players who cannot see the handwriting. No commentary on the names should be permitted or given. Names may be read through once OR twice; this can be decided by the group.
</p>
<p>
  <strong>4. Youngest player starts.</strong> The youngest player in the game (or any player the group agrees upon) goes first by asking another player (any player), "Are you [name]?" Remember that the goal is to correctly guess which name the player put in.
</p>
<p>
  <strong>5. Player responds.</strong> If the player DID submit the name that they were asked about, they have been guessed and are "out." They now join the original guesser's family and help them to think of future guesses. The original guesser is now the "head of family" and goes again by asking another player. If the player DID NOT submit the name that they were asked about, they have not been guessed and now it is their turn to ask a player, "Are you [name]?"
</p>
<p>
  <strong>6. Gameplay continues until someone wins or there is a tie.</strong> Gameplay continues as described until EITHER<br />
  <ul>
    <li>
      all players have been guessed but one, leaving the one unguessed player as the head of the happy family, in which case this player wins, OR
    </li>
    <li>
      all remaining players do not remember the remaining names to be able to guess each other, and agree to call the game a tie
    </li>
    </ul>
</p>
{% endblock %}
